# NASA Mars News web scrapeing

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import time
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Set up driver
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

## NASA Mars News

In [12]:
# Visit Mars News
mars_news_url = 'https://redplanetscience.com/'
browser.visit(mars_news_url)

time.sleep(1)

# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [13]:
#print(soup.prettify())

### Investigate the website's markup and find the news container, along with the title and description classes for each entry.
News container id 'news'
Title class 'content_title'
Description class 'article_teaser_body'

In [14]:
# Scrape the Mars News site for the first article's title and description
news_title = soup.select("#news .content_title")[0].text
news_description = soup.select("#news .article_teaser_body")[0].text

print(news_title)
print(news_description)

Mars Is Getting a New Robotic Meteorologist
Sensors on NASA's Perseverance will help prepare for future human exploration by taking weather measurements and studying dust particles.

### Parse title and description from the found divs.

In [15]:
# Visit Mars Images site
mars_images_url = 'https://spaceimages-mars.com/'
browser.visit(mars_images_url)

time.sleep(1)

# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

### Investigate the markup, find the featured image is marked by class "headerimage".

In [16]:
# print(soup.prettify())

In [17]:
# Scrape the featured image and grab the url, full image button is the same image file
image = soup.select("img.headerimage")[0]
featured_image_url = mars_images_url + image['src']
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

### Parse the url of the image.

## Mars Facts

In [18]:
# Scrape the Mars Facts using Pandas
mars_facts_url = 'https://galaxyfacts-mars.com/'

facts_tables = pd.read_html(mars_facts_url)
facts_tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

### Scrape mars facts site using pandas, 1st table is a comparison to earth.
We want the 1st table.

In [19]:
facts_tables[0].columns=["Description", "Mars", "Earth"]

#facts_tables[0].columns = facts_tables[0].iloc[0]
#facts_tables[0] = facts_tables[0][1:]

facts_tables[0].head()

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [20]:
# Grab the facts table as HTML
#print(facts_tables[0])
#print(facts_tables[1])
mars_facts_html = facts_tables[0].to_html(classes="table", header=None, index=False)
mars_facts_html

'<table border="1" class="dataframe table">\n  <tbody>\n    <tr>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

Visit Mars Hemispheres Astrogeology site for the full images and store in a dictionary.
The high-res photos would not load in the Flask template.

In [21]:
hemisphere_image_urls = [
    {"title": "Cerberus Hemisphere", "img_url": "https://marshemispheres.com/images/full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg"},
    {"title": "Valles Marineris Hemisphere", "img_url": "https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg"},
]